.card__avatar {
  position: relative;
  top: -60px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  background-size: contain;
  z-index: 1;
}

.card__avatar > img {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 100%;
}
